Pods/
mammafoodie.xcworkspace/xcuserdata/akshitzaveri.xcuserdatad/UserInterfaceState.xcuserstate
mammafoodie.xcworkspace/xcuserdata/akshitzaveri.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Podfile.lock
